TO DO LIST

Flesh out some examples (and link to tutorial pages)

*   Data structures
*   Functions
*   Plotting
*   Saving (pickling / JSON objects)

https://www.tutorialsteacher.com/python

Importing Packages

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt

Data Structures

In [ ]:
# lists and arrays 
my_list = [1,2,3,4]
my_array = np.array(my_list)
print(f'examples of arrays: {my_list}, {my_array}')

# tuples
tup1 = (1,2)
tup2 = tuple(my_list)
print(f'examples of tuples: {tup1}, {tup2}')

# dictionaries
# keys must be strings or other 'immutable' types i.e. tuple
# entries can be anything
my_dict = {'key1':10, 'key2':'apple'}
my_dict['key3'] = (10,200)
my_dict[(5,6)] = my_list

print(f'an example dict: {my_dict}')

examples of arrays: [1, 2, 3, 4], [1 2 3 4]
examples of tuples: (1, 2), (1, 2, 3, 4)
an example dict: {'key1': 10, 'key2': 'apple', 'key3': (10, 200), (5, 6): [1, 2, 3, 4]}